/* Link colour*/
a{
    color:#f94300;
    text-decoration:none;
}
h1{
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight:400;
    text-align: left !important;

font-family:"dm-mono";
font-size: 18px;
font-style: normal;
line-height: normal;
letter-spacing: 0.14px;
padding: 8px;
margin:0px;

}

p{
    font-size:16px;
    text-align: left !important;
    text-transform:uppercase !important;
    font-weight:100;
}

h3{
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-family:"dm-mono";
    font-weight:100;
    font-size: 18px;
    padding:10x;
    margin:20px;
    text-align: center;


}

h5{
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight:400;
    font-size: 12px;
    padding-top:5px;
    padding-left:10px;
    padding-bottom:5px;
        font-family:"dm-mono";
    margin:1px;
    text-align: left;
}

.site-title-box{

    background-color: #D5D2CD;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 265px;
    margin-left:20px;
    margin-top:20px;
    position: absolute;
    z-index: 9998;
    padding-right:10px;
}

.site-title-box.hidden{
    display:none !important;
}
    
     

/* DM Mono Light */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-light.woff2") format("woff2"),
       url("fonts/dm-mono-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* DM Mono Light Italic */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-light-italic.woff2") format("woff2"),
       url("fonts/dm-mono-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

/* DM Mono Regular */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-regular.woff2") format("woff2"),
       url("fonts/dm-mono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* DM Mono Italic */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-italic.woff2") format("woff2"),
       url("fonts/dm-mono-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* DM Mono Medium */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-medium.woff2") format("woff2"),
       url("fonts/dm-mono-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* DM Mono Medium Italic */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-medium-italic.woff2") format("woff2"),
       url("fonts/dm-mono-medium-italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

/* ABOUT ELEMENTS*/

.about-component {
    position: relative;
    width: 40%;
    height: 550px;
    border: 1px solid #000;
    background: #D5D2CD;
    padding: 10px;
    top:15%;
    left: 20.5px;
    overflow-y: auto;
    scrollbar-width:thin;
    bottom:15%;

}

.about-component::-webkit-scrollbar {
    display: none;
}

.title-row{
    display:flex;
    align-items:center;
    gap:0px;
    align-self:stretch;
    max-height: 100%;
    padding-right: 20px;
}



h2 {
  font-family: "dm-mono";
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.16px;
  color: black;
  padding:6px;
  display: block;   
  width:auto; 
  line-height: 1;
    box-sizing: border-box;       
}

#about-btn:hover {
      transform: scale(1.05);
}

#home-btn:hover{
    transform: scale(1.05);
}

/* SIDEBAR ELEMENTS
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background:#D5D2CD;
    width: 150px;
    min-height:100vh;
    align-items:center;
    justify-content:center;
    gap:5px;
    border:1px solid black;
}

.sidebar h1 {
    font-family: "dm-mono";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    color: black;

    text-align:center;
    padding: 15px 8px;     
    line-height: 1;       
}
*/
/* FOOTER ELEMENTS*/
.footer {
    position: fixed;       
    bottom: 0;            
    left: 0;
    width: 100%;
    display: flex;
    justify-content: left; 
    align-items: left;   
    gap: 20px;

    padding: 5px, 5px;
    padding-bottom: 10px;
    padding-top:10px;
    background: #D5D2CD;
    font-family: "dm-mono";
    font-size: 18px;
    font-weight: 400;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    
    text-transform: uppercase;
    letter-spacing: 0.14px;
    color: black;
    z-index: 9999;         
    pointer-events: auto;   
}

.footer a{
   font-family: "dm-mono";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    color: black;

    text-align:center;
    padding: 8px 30px;    
    line-height: 1; 
    margin-left: 10px;   

}

.footer-link{
    border-color:black;
    border-width: 1px;
    border-style: solid;
    padding:10px;
    
}


/* TEASER ELEMENTS */

/* STATUS BAR */

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:100;
    width: 95%; 
    height: 60px;

    border: 1px solid #000;
    background: #37FF00; /* #FF0000 = CLOSED, #FBB416 = RESTORING */
}

.status h1 {
    font-family: "dm-mono";
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    margin: 0;
    text-align: center;
}



/* TEXT SECTIONS */

.building-name,
.location,
.restoration-deets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 350px;
    margin-top: 5px;

    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    padding:10px;
}

.building-name h1,
.location h1,
.restoration-deets h1 {
    font-family: "dm-mono";
    font-size: 15px;
    font-weight: 400;
        border: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    margin: 6px 0;
}


/* LEAFLET POPUP OVERRIDES */

.leaflet-popup-content-wrapper {
 background: #D5D2CD;

    padding: 0;
    box-shadow: none;
    overflow: visible !important;
    height:500px;
    width: 375px;
     transform: scale(0.9);

}




/* TIMELINE ELEMENTS */
.timeline-title {
    display: flex;
    padding: 20px, 0px, 20px, 0px;
    width:550px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top:100px;
    margin-left:20px;
    margin-bottom:13px;
    border: 1px solid #000;
    background: #D5D2CD;
}

.timeline-title h1{
    font-family: "dm-mono";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    color: black;
    text-align: center;
    padding-bottom: 8px;
}

.timeline-section{
display: flex;
width: 550px;
height: auto;
align-items: center;
padding-top:10px;
padding-bottom:10px;
margin-bottom:20px;
margin-left:20px;
border: 1px solid #000;
background: #D5D2CD;
overflow-y: auto;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
    font-family: "dm-mono", monospace;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-start;
    margin-left:20px;
    margin-right:20px;
}

.timeline-item .year {
    flex: 0 0 120px; 
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
}

.timeline-item .description {
    flex: 1;
    text-align: left;
    font-size:1 5px;
}

#timeline-panel{
  position: fixed;
  top:0;
  left:0;
  right: -100%;
  width:100vw;
  height:100vh;
  display:none;
  justify-content:center;
  align-items:center;
  z-index:9998;
}

#timeline-panel.open{
    right: 0;
}

#timeline-panel iframe{
  width:650px;
  height:700px;
  border:none;

}

.description{
    font-size: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow:hidden;
  width: 100%;
  height: 100%;
}



.title-row{
        font-family:"dm-mono";
    font-size:10px;
}

body, html {
    font-family: "dm-mono", monospace !important;
    font-size: 18px;
    color: black;
}

body{
    font-family:"dm-mono";
    margin: 0;
    padding: 0;
}

h1, h2, h3, p{
    font-family:"dm-mono";
    text-align: center;
}


    html, body { height: 100%; margin: 0; padding: 0; }
        #map { 
            width: 100%; 
            height: 95%;
            position: fixed;
            z-index: 0; 
        }


.status{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;
    border: 1px solid #000;
    background: #37FF00;
    box-sizing: border-box;
    font-weight: 100 !important;
    font-size: 20px;
    font-variant: uppercase;
    font-family: "dm-mono";
}


.building-name,
.location,
.restoration-deets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 1px solid black;
    padding:10px;
    width: 350px;
    box-sizing: border-box;
    text-align: center;
    font-family: "dm-mono";
    text-transform: uppercase;
}



        /* DM Mono Light */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-light.woff2") format("woff2"),
       url("fonts/dm-mono-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* DM Mono Regular */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-regular.woff2") format("woff2"),
       url("fonts/dm-mono-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* DM Mono Medium */
@font-face {
  font-family: "dm-mono";
  src: url("fonts/dm-mono-medium.woff2") format("woff2"),
       url("fonts/dm-mono-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


/* ALLL STUFF FOR POP UP*/ 

.popup-content {
    transform: scale(0.7);
    transform-origin: top left;
    width: 375px;
    height: auto;
    position: relative;
    background: #D5D2CD;
    display: flex;
    flex-direction: column;
    max-width: 375px;
    padding-bottom: 13px;
    padding-top: 13px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
    box-sizing: border-box;
}

.status {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;
    border: 1px solid #000;
    background: #37FF00;
    box-sizing: border-box;
    font-weight: 100 !important;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "dm-mono";
    top: 13px;
    z-index: 10;
}

.popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 66px;
    border: 1px solid black;
    width: 350px;
    box-sizing: border-box;
    text-align: center;
    font-family: "dm-mono";
    text-transform: uppercase;
    background: #D5D2CD;
    padding: 2px;
    
}

.popup-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 1px solid black;
    width: 350px;
    box-sizing: border-box;
    text-align: center;
    font-family: "dm-mono";
    text-transform: uppercase;
    height:auto;
    
}

.popup-body img {

    width: 350px;
    top: 0;
    left: 0;
    height: 350px;
    background: #D5D2CD;
    border: 1px solid #000;
    box-sizing: border-box;
    object-fit: cover;
}

.leaflet-popup-close-btn {
    display:none !important;
}

.leaflet-popup-content-wrapper {
    background: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.leaflet-popup-content {
    margin: 0 !important;
    width: flex !important;
    height:auto;
}




/* RESTORATION STATUS */

.status.RESTORING {
  background:#fbb416;
}

.status.OPEN {
  background:#37FF00;
}


.status.CLOSED {
  background:RED;
}

#building-text{
    text-transform:uppercase;
    border: 1px solid black;
    box-sizing: border-box;
}

.teaser-button {
  display: inline-block;
  margin: 15px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid black;
  background: #D5D2CD;
  color: black !important;
  text-decoration: none;
  font-family: "dm-mono";
  text-transform: uppercase;
  font-size: 18px;
  z-index: 9999;
}

.teaser-button:hover {
  color: #000000;
  transform: scale(1.05);
}

/* CLICKABLE IMAGES */ 

img:hover{
      transform: scale(1.05);
      cursor: pointer;
}





.close {
    position:relative;
    z-index:100;
}