.teaser-wrapper{
    transform: scale(0.7);
    transform-origin: top left;
    width: 375px;
    height: 500px;
}

.teaser-background{
    position: relative;
    background: rgba(213, 210, 205);
    display: flex;
    flex-direction: column;
    max-width: 375px;
    padding-bottom: 13px;
    padding-top: 13px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
    box-sizing: border-box;
}

.status{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 350px;
    border: 1px solid #000;
    background: #37FF00;
    box-sizing: border-box;
    font-weight: 100 !important;
    font-size: 20px;
    font-variant: uppercase;
    font-family: "dm-mono";
}

.placeholder-img{
    position: relative;
    width: 350px;
    height: 350px;
    background: #C9C6C5;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-top: 66px;
}

.building-name,
.location,
.restoration-deets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border: 1px solid black;
    padding:10px;
    width: 350px;
    box-sizing: border-box;
    text-align: center;
    font-family: "dm-mono";
    text-transform: uppercase;
}

section,
main {
    unicode-bidi: isolate;
}

div{
    display: block;
    unicode-bidi: isolate;
}

body{
    display: block;
}